<?xml version="1.0"?>

<launch>
  <arg name="output_type" default="screen"/>
  <arg name="input_file"  default=""/>

  <node pkg="vicon_reconstructor" name="vicon_reconstructor" type="vrec" output="$(arg output_type)" respawn="false" required="true">
  </node>

  <!-- Start rviz visualization with preset config -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find vicon_reconstructor)/launch/vrec.rviz" required="true"/>
</launch>
